@charset "UTF-8";

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-Black.woff2") format("woff2"), url("../fonts/TildaSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-Bold.woff2") format("woff2"), url("../fonts/TildaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-ExtraBold.woff2") format("woff2"), url("../fonts/TildaSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-Semibold.woff2") format("woff2"), url("../fonts/TildaSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-Light.woff2") format("woff2"), url("../fonts/TildaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-Medium.woff2") format("woff2"), url("../fonts/TildaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-Regular.woff2") format("woff2"), url("../fonts/TildaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "TildaSans";
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "TildaSans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться к
всех классов, содержащих *__container
К примеру header__container, main__container и т.п.
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #444444;
  line-height: 157.5%;
  /* 63/40 */
}

.button {
  position: relative;
  min-height: 60px;
  padding: 0 60px;
  border-radius: 30px;
  color: #000;
  background-color: #ffcc00;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.button--shadow {
  -webkit-box-shadow: 0 4px 0 #e7b642, 0 25px 15px -10px #e3d1a8;
          box-shadow: 0 4px 0 #e7b642, 0 25px 15px -10px #e3d1a8;
}

.button--shadow span {
  position: relative;
  z-index: 3;
}

.button--shadow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 -45px 80px -25px #fec744;
          box-shadow: inset 0 -45px 80px -25px #fec744;
}

.button--small {
  -webkit-box-shadow: inset 0 -45px 80px -25px #fec744;
          box-shadow: inset 0 -45px 80px -25px #fec744;
  font-size: 13px;
  line-height: 107.692308%;
  /* 14/13 */
  min-height: 35px;
  border-radius: 50px;
  font-weight: 700;
  color: #000;
  padding: 0 15px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
  color: #fff;
}

.header__container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__logo img {
  max-height: 50px;
}

.header__text {
  font-size: 13px;
  max-width: 170px;
}

.menu__logo img {
  max-height: 50px;
}

.menu__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  gap: 25px;
}

.menu__link {
  font-size: 22px;
  font-weight: 600;
}

.menu-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.menu-actions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.menu-actions__phone {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.menu-actions__phone img {
  max-width: 30px;
  max-height: 17px;
}

.menu-actions__phone .menu-actions__text {
  white-space: nowrap;
  font-size: 22px;
  line-height: 100%;
  font-weight: 500;
}

.menu-actions__icon {
  position: relative;
}

.menu-actions__email img {
  max-width: 30px;
  max-height: 17px;
}

.menu-actions__email .menu-actions__text {
  white-space: nowrap;
  font-size: 22px;
  line-height: 113.636364%;
  /* 25/22 */
}

.menu-actions__telegram img {
  max-width: 30px;
  max-height: 30px;
}

.menu-actions__whatsapp img {
  max-width: 30px;
  max-height: 30px;
}

.icon-menu {
  display: none;
}

.hero {
  position: relative;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  opacity: 0.5;
}

.hero__container {
  position: relative;
  z-index: 3;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  text-align: center;
}

.hero__title {
  font-size: 65px;
  font-weight: 900;
  line-height: 123%;
  max-width: 960px;
  margin-bottom: 24px;
}

.hero__subtitle {
  font-size: 20px;
  line-height: 155%;
  margin-bottom: 74px;
  max-width: 550px;
}

.hero__form {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  min-height: 60px;
}

.hero__input {
  min-height: 60px;
  font-size: 16px;
  line-height: 133%;
  border-radius: 30px;
  padding: 0 20px;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.hero__button {
  min-height: 60px;
  font-size: 16px;
  font-weight: 700;
  background-color: #8aca04;
  border-radius: 30px;
  padding: 0 40px;
}

.hero__bg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__container {
  padding-top: 110px;
  padding-bottom: 65px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.about__title {
  font-size: 32px;
  line-height: 125%;
  /* 40/32px */
  font-weight: 500;
  margin-bottom: 70px;
}

.about__text {
  font-size: 20px;
  line-height: 130%;
  /* 26/20 */
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.about__text span {
  font-weight: 700;
}

.about__text p:first-child {
  margin-bottom: 30px;
}

.about__video {
  position: relative;
  padding-bottom: 120%;
  /* 632/500 */
}

.about__video video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.benefits {
  padding-top: 100px;
  padding-bottom: 70px;
}

.benefits__container {
  display: -ms-grid;
  display: grid;
  gap: 90px;
}

.benefits__title {
  text-align: center;
  font-size: 35px;
  max-width: 830px;
  margin: 0 auto;
}

.benefits__body {
  display: -ms-grid;
  display: grid;
  row-gap: 80px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.benefits-item {
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  gap: 40px;
  position: relative;
}

.benefits-item__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 130%;
  /* 39/30 */
  padding: 20px 80px 0 20px;
  color: #444444;
}

.benefits-item__text {
  padding: 0 20px;
  line-height: 155.555556%;
  /* 28/18 */
}

.benefits-item__button {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.benefits-item__icon {
  position: absolute;
  right: -15px;
  bottom: -15px;
  width: 160px;
}

.benefits-item__icon img {
  max-width: 100%;
}

.price {
  position: relative;
  z-index: 3;
  padding-top: 100px;
  padding-bottom: 70px;
}

.price__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.price__subtitle {
  font-size: 24px;
  color: #444444;
  line-height: 129.166667%;
  /* 31/24 */
  text-align: center;
  margin-bottom: 60px;
}

.price__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__items {
  display: -ms-grid;
  display: grid;
  gap: 40px;
}

.price-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
  grid-template-columns: 50px 1fr;
  gap: 20px;
  -ms-flex-line-pack: start;
      align-content: start;
}

.price-item__icon {
  position: relative;
  top: 20px;
}

.price-item__icon img {
  max-width: 100%;
}

.price-item__text {
  font-size: 20px;
  color: #444444;
  line-height: 155%;
  /* 31/20 */
}

.price-form {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.price-form__label {
  font-size: 25px;
  line-height: 132%;
  /* 33/25 */
  color: #444444;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.price-form__input {
  border: 1px solid rgb(209, 209, 209);
  background-color: transparent;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  height: 56px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.price-form__button {
  font-size: 16px;
  min-height: 56px;
}

.price-form__confedential {
  max-width: 230px;
  text-align: center;
  margin: 0 auto;
  color: rgb(102, 102, 102);
  font-size: 13px;
  line-height: 150%;
}

.price-form__confedential a {
  text-decoration: underline;
}

.price-form__subtitle {
  max-width: 400px;
  padding: 0 35px;
  text-align: center;
  margin: 0 auto;
  color: #444444;
  line-height: 155.555556%;
  /* 28/18 */
}

.category {
  margin-top: -150px;
  padding-top: 250px;
  padding-bottom: 160px;
  position: relative;
  background-color: #efefef;
}

.no-webp .category::before, .no-webp .category::after{
  }

.category::before,
.category::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 12.1%;
  /* 242/2000 */
  background: url("../img/category/deecor.png") 0/100% no-repeat;
}

.category::before {
  top: 0;
}

.category::after {
  bottom: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.category__container {
  position: relative;
  z-index: 2;
}

.category__title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.category__subtitle {
  color: rgb(68, 68, 68);
  font-size: 30px;
  line-height: 150%;
  margin: 0 auto 90px;
  text-align: center;
  max-width: 480px;
}

.category__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 90px;
}

.category__bottom {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  justify-items: center;
}

.category__label {
  max-width: 565px;
  text-align: center;
  color: #444444;
  font-size: 25px;
  line-height: 132%;
  /* 33/25 */
}

.category__link {
  font-size: 20px;
  color: #444444;
  line-height: 130%;
  /* 26/20 */
  text-decoration: underline;
}

.category-item {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
}

.category-item__image {
  position: relative;
  padding-bottom: 115.384615%;
  /* 300/260 */
}

.category-item__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-item__content {
  padding: 27px 30px 30px;
}

.category-item__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 135%;
  /* 21.6/16 */
  margin-bottom: 9px;
  color: #444444;
}

.category-item__price {
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 155%;
  font-weight: 300;
}

.services {
  padding-top: 30px;
  padding-bottom: 60px;
}

.services__title {
  text-align: center;
  margin-bottom: 60px;
}

.services__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 60px;
}

.service {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  justify-items: center;
}

.service__image {
  border: 1px solid #fff;
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 0px 0px rgb(217, 158, 104);
          box-shadow: 5px 5px 0px 0px rgb(217, 158, 104);
  width: 250px;
  height: 158px;
  position: relative;
}

.service__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service__title {
  color: #444444;
  font-size: 25px;
  font-weight: 500;
  line-height: 132%;
  /* 33/25 */
  text-align: center;
  max-width: 260px;
}

.service__list {
  max-width: 310px;
}

.service__item {
  font-size: 17px;
  line-height: 152.941176%;
  /* 26/17 */
  display: list-item;
  list-style-type: disc;
}

@media (min-width: 640px) {
  .hero__form {
    -ms-grid-columns: minmax(auto, 385px) auto;
    grid-template-columns: minmax(auto, 385px) auto;
  }
}

@media (min-width: 767.98px) {
  .menu__logo {
    display: none;
  }

  .menu__list {
    display: none;
  }

  .menu-actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .about__text {
    max-width: 525px;
  }

  .price__items {
    justify-items: center;
  }

  .price-item__text {
    max-width: 350px;
  }

  .price-form__label {
    max-width: 270px;
  }
}

@media (max-width: 1190px) {
  .hero__title {
    font-size: 48px;
  }
}

@media (max-width: 991.98px) {
  .about__container {
    -ms-grid-columns: 3fr 2fr;
    grid-template-columns: 3fr 2fr;
    padding-top: 90px;
    padding-bottom: 65px;
  }

  .about__title {
    margin-bottom: 40px;
  }

  .about__text p:first-child {
    margin-bottom: 15px;
  }

  .benefits {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .benefits__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .price {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .category__body {
    gap: 20px;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
  }

  .services__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    right: -200%;
    top: 0;
    height: 100%;
    width: auto;
    padding: 80px 40px 60px 40px;
    background-color: #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    overflow: auto;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu-actions__phone {
    margin-bottom: 20px;
  }

  .menu-actions__email .menu-actions__text {
    display: none;
  }

  .menu-actions__email {
    background-color: #fff;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
  }

  .menu-actions__email img {
    max-width: 20px;
    max-height: 12px;
  }

  .menu-actions__email .menu-actions__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .about__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__text p:first-child {
    margin-bottom: 0px;
  }

  .price__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .price-item__icon {
    top: 10px;
  }

  .category__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 28px;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__form {
    min-width: 320px;
  }

  .about__title {
    font-size: 26px;
  }

  .benefits__title {
    font-size: 28px;
  }

  .benefits-item {
    gap: 15px;
  }

  .benefits-item__title {
    font-size: 24px;
    padding: 0;
  }

  .benefits-item__text {
    padding: 0;
    margin-bottom: 40px;
  }

  .category__subtitle {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .category__label {
    font-size: 20px;
  }

  .services__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 479.98px) {
  .header__text {
    display: none;
  }

  .hero__subtitle {
    font-size: 18px;
  }

  .benefits-item__button {
    font-size: 16px;
    padding: 0 20px;
    min-height: 40px;
    border-radius: 20px;
  }

  .benefits-item__icon {
    width: 140px;
  }

  .category__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 400px) {
  .hero__form {
    min-width: 100%;
  }
}

@media (max-width: 991.98px) and (min-width: 768px) {
  .header__text {
    display: none;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #ffe828;
  }

  .button--shadow:hover {
    background-color: #ffe828;
  }

  .menu-actions__phone .menu-actions__text:hover {
    text-decoration: underline;
  }

  .menu-actions__email .menu-actions__text:hover {
    text-decoration: underline;
  }

  .price-form__confedential a:hover {
    text-decoration: none;
  }

  .category__link:hover {
    text-decoration: none;
  }
}

.webp .category::before, .webp .category::after{ background: url(../img/category/deecor.webp) 0/100% no-repeat; }
