@charset "UTF-8";

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-Black.woff2") format("woff2"), url("../fonts/TildaSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-Bold.woff2") format("woff2"), url("../fonts/TildaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-ExtraBold.woff2") format("woff2"), url("../fonts/TildaSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-Semibold.woff2") format("woff2"), url("../fonts/TildaSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-Light.woff2") format("woff2"), url("../fonts/TildaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-Medium.woff2") format("woff2"), url("../fonts/TildaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: TildaSans;
  font-display: swap;
  src: url("../fonts/TildaSans-Regular.woff2") format("woff2"), url("../fonts/TildaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "TildaSans";
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "TildaSans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться к
всех классов, содержащих *__container
К примеру header__container, main__container и т.п.
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
  color: #fff;
}

.header__container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__logo img {
  max-height: 50px;
}

.header__text {
  font-size: 13px;
  max-width: 170px;
}

.menu__logo img {
  max-height: 50px;
}

.menu__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  gap: 25px;
}

.menu__link {
  font-size: 22px;
  font-weight: 600;
}

.menu-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.menu-actions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.menu-actions__phone {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.menu-actions__phone img {
  max-width: 30px;
  max-height: 17px;
}

.menu-actions__phone .menu-actions__text {
  white-space: nowrap;
  font-size: 22px;
  line-height: 100%;
  font-weight: 500;
}

.menu-actions__icon {
  position: relative;
}

.menu-actions__email img {
  max-width: 30px;
  max-height: 17px;
}

.menu-actions__email .menu-actions__text {
  white-space: nowrap;
  font-size: 22px;
  line-height: 113.636364%;
  /* 25/22 */
}

.menu-actions__telegram img {
  max-width: 30px;
  max-height: 30px;
}

.menu-actions__whatsapp img {
  max-width: 30px;
  max-height: 30px;
}

.icon-menu {
  display: none;
}

.hero {
  position: relative;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  opacity: 0.5;
}

.hero__container {
  position: relative;
  z-index: 3;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  text-align: center;
}

.hero__title {
  font-size: 65px;
  font-weight: 900;
  line-height: 123%;
  max-width: 960px;
  margin-bottom: 24px;
}

.hero__subtitle {
  font-size: 20px;
  line-height: 155%;
  margin-bottom: 74px;
  max-width: 550px;
}

.hero__form {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  min-height: 60px;
}

.hero__input {
  min-height: 60px;
  font-size: 16px;
  line-height: 133%;
  border-radius: 30px;
  padding: 0 20px;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.hero__button {
  min-height: 60px;
  font-size: 16px;
  font-weight: 700;
  background-color: #8aca04;
  border-radius: 30px;
  padding: 0 40px;
}

.hero__bg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__container {
  padding-top: 110px;
  padding-bottom: 65px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.about__title {
  font-size: 32px;
  line-height: 125%;
  /* 40/32px */
  font-weight: 500;
  margin-bottom: 70px;
}

.about__text {
  font-size: 20px;
  line-height: 130%;
  /* 26/20 */
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.about__text span {
  font-weight: 700;
}

.about__text p:first-child {
  margin-bottom: 30px;
}

.about__video {
  position: relative;
  padding-bottom: 120%;
  /* 632/500 */
}

.about__video video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 640px) {
  .hero__form {
    -ms-grid-columns: minmax(auto, 385px) auto;
    grid-template-columns: minmax(auto, 385px) auto;
  }
}

@media (min-width: 767.98px) {
  .menu__logo {
    display: none;
  }

  .menu__list {
    display: none;
  }

  .menu-actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .about__text {
    max-width: 525px;
  }
}

@media (max-width: 1190px) {
  .hero__title {
    font-size: 48px;
  }
}

@media (max-width: 991.98px) {
  .about__container {
    -ms-grid-columns: 3fr 2fr;
    grid-template-columns: 3fr 2fr;
    padding-top: 90px;
    padding-bottom: 65px;
  }

  .about__title {
    margin-bottom: 40px;
  }

  .about__text p:first-child {
    margin-bottom: 15px;
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    right: -200%;
    top: 0;
    height: 100%;
    width: auto;
    padding: 80px 40px 60px 40px;
    background-color: #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    overflow: auto;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu-actions__phone {
    margin-bottom: 20px;
  }

  .menu-actions__email .menu-actions__text {
    display: none;
  }

  .menu-actions__email {
    background-color: #fff;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
  }

  .menu-actions__email img {
    max-width: 20px;
    max-height: 12px;
  }

  .menu-actions__email .menu-actions__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .about__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__text p:first-child {
    margin-bottom: 0px;
  }
}

@media (max-width: 767.98px) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 640px) {
  .hero__title {
    font-size: 32px;
  }

  .hero__form {
    min-width: 320px;
  }

  .about__title {
    font-size: 26px;
  }
}

@media (max-width: 479.98px) {
  .header__text {
    display: none;
  }

  .hero__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .hero__form {
    min-width: 100%;
  }
}

@media (max-width: 991.98px) and (min-width: 768px) {
  .header__text {
    display: none;
  }
}

@media (any-hover: hover) {
  .menu-actions__phone .menu-actions__text:hover {
    text-decoration: underline;
  }

  .menu-actions__email .menu-actions__text:hover {
    text-decoration: underline;
  }
}